#content {
  display: inline-flex;
  width: 1290px;
}
#add-list {
  display: inline-block;
}
#prescription-list {
  display: inline-block;
  margin: 10px;
}
#prescription-list-select {
  height: 240px;
  width: 310px;
  font-size: 9pt;
}
#herb-list {
  display: inline-block;
  margin: 10px;
}
#herb-list-select {
  height: 240px;
  width: 310px;
  font-size: 9pt;
}
#analysis-target {
  height: 95%;
  display: inline-block;
  margin: 10px;
  bottom: 10px;
}
#analysis-target-list {
  height: 640px;
  width: 200px;
}
#prescription-list-search {
  width: 100%;
}
#herb-list-search {
  width: 100%;
}
#herb-select-board {
  display: inline-block;
  width:fit-content;
}
#analysis-board {
  display: inline-block;
  height: 640px;
  width: 650px;
  margin: 10px;
}

#only-add-herb-label {
  display: block;
}

#convert-herb-part-label {
  display: block;
}
#least-match-herb-number-label {
  display: block;
  /*display: inline-block;*/
}
#least-match-herb-number {
  /*display:inline-block;*/
  width: 50px;
}
#max-basic-herb-number-label {
  display: block;
}
#max-basic-herb-number {
  width: 50px;
}
#max-basic-prescription-number-label {
  display: block;
}
#max-basic-prescription-number {
  width: 50px;
}
#duplicate-tolerance-number-label {
  display: block;
}
#duplicate-tolerance-number {
  width: 50px;
}
body {
  margin : 10px;
}